<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ReserveMapper">
  
  	<select id="selGCode" parameterType="map" resultType="String">
		select g_code
		FROM g_room
		WHERE g_r_code = #{r_code}
		AND g_name = #{g_room}
	</select>
	
	<select id="selGPrice" parameterType="String" resultType="String">
		SELECT g_accomprice
		FROM g_room
		WHERE g_code = #{g_code}
	</select>
	
	<insert id="insertReserve" parameterType="com.spring.airbnb.domain.ReserveDTO">
		Insert INTO reserve(r_no, id, r_name, r_code, r_g_code, r_g_name, r_address, r_img, r_checkin, r_checkout, r_price)
		VALUES(reserve_seq.nextval, #{id}, #{r_name}, #{r_code}, #{r_g_code}, #{r_g_name}, #{r_address}, #{r_img}, #{r_checkIn}, #{r_checkOut}, #{r_price})
	</insert>
	
	<select id="selUserReserve" parameterType="String" resultType="com.spring.airbnb.domain.ReserveDTO">
		 select *
		 from reserve
 		 where id=#{userId}
	</select>
	
	<delete id="deleteReserve">
		DELETE FROM reserve
		WHERE r_no = #{r_no}
	</delete>
	
  </mapper>